extends layout
script(src="/routes/jquery/jquery-1.11.0.min.js")
script(src="/routes/socket.io.min.js")
script(src="/routes/app_client.js")
block content

  h1  hi welcome to the client website for the chat!
  section.main-content#msgWindow
